  div {border: 2px solid orange;
       width:12%;
       height:180px;
       background-color: grey;	
       padding-left: 15px;
       margin: 5px;
       border-radius:4px;
       }

.sidenav {
    height: 180px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #222;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 60px;
    padding-left: 0px;
    margin: 0px;
    border: none;
}

.sidenav a {
    padding: 2px 2px 2px 12px;
    text-decoration: none;
    font-size: 12px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 20px;
    margin-left: 100px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
       
 .text_calc {
 				float:center; 
 				text-align:right; 
 				border:2px solid orange; 
 				font-size: 12px;
 				width:90%; 
 				box-sizing:border-box; 
 				border-radius:4px;
 				padding: 5px 8px;
 				margin: 2px 4px;
 				background: white;
 			}
       
 .button_calc 	{	
 					box-sizing:border-box; 
 					border-radius:4px;
 					padding: 5px 8px;
 					display:inline-block;
    				text-align: center;
    				text-decoration: none;
    				font-size: 12px;
    				margin: 4px 2px;
    				cursor: pointer;
    				background: -webkit-linear-gradient(orange, yellow); 
 				}
       
    
       

  